*, *:before, *:after{
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}

/* Inner-container */
.inner-container{
	padding-left: 3%;
	padding-right: 3%;
	position: relative;
}
/* Inner-container */

/* Header */

.top-menu{ background-color: black; }

.top-menu ul li{
	display: inline-block;
	border-left: solid 1px #ffffff; 
}
 
.top-menu ul li a{
	text-decoration: none;
	color: #ffffff;
	font-size: 12px;
	font-family: Arial, serif;
	display: block;
	padding: 0px 17px;
}

.top-menu ul li a:hover{ color: #ff5c1a; }

.wrapper-banner{ 
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: solid 2px rgb(245, 239, 239);
 }

.wrapper-banner .banner{
	width: 728px;
	height: 90px;
	margin: 0 auto; 
	background-color: rgb(197, 235, 245);
}

.main-wrapper-header{ 
	overflow: hidden; 
	padding:15px 0 25px;
}

.main-wrapper-header .social-links{
	width: 25%;
	float: left;
}

.main-wrapper-header .social-links ul li{ display: inline-block; }

.main-wrapper-header .social-links ul li a{
	color: #09c;
	text-decoration: none;
	padding:5px; 
}

.wrapper-logo{
	width: 50%;
	float: left;
}

.wrapper-logo .current-day{
	display: block;
	text-align: center;
	color: #999;
	font-size: 11px;
	text-decoration: none;
}
.wrapper-logo .logo{
	width: 300px;
	height: 46px;
	margin: 0 auto;
	margin-top: 10px;
}

.wrapper-logo .logo a{
	display: block;
	width: 300px;
	height: 46px;
}

.wrapper-logo .logo a img{
	display: block;
	width: 100%;
}

.main-menu{
	width: 25%;
	float: left;
}

.main-menu ul{
	text-align: right;
	list-style: none;
}

.main-menu ul li a{
	text-decoration: none;
	color: #09c;
	font-size: 11px;
	padding: 5px; 
}

.main-menu ul .strong a{ 
	font-weight: bold;
	font-size: 14px;
	
}

.sections{
	background-color: #efefef;
}

.sections img{
	position: absolute;
	bottom: 100%;
	right: 32px;
}

.sections ul li{
	border-left: solid 1px #ffffff;
	display: inline-block; 
	border-bottom: solid 3px #09c;
}

.sections ul li a{
	color: black;
	font-size: 16px;
	font-weight: bold;
	font-family: Arial, sans-serif;
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 14px 20px;
}

.sections ul li:hover{ border-bottom: solid 3px #ff5c1a; }

.sections ul li:hover a{ color: #ff5c1a; }

/* Header */