*, *:before, *:after{
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}

body{
	font-family: 'PTSans-Bold' !important;
}

/* inner-container */
.inner-container{
	padding-left: 3%;
	padding-right: 3%;
	position: relative;
}
/* inner-container */

.clearfix:before,
.clearfix:after{
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after{
  clear: both;
}

/* main structure */

.container-page{
	position: relative;
}

.nav-menu-left{
	position: fixed;
	background-color: #efefef;
	border-right: solid 2px rgba(207, 204, 202, 0.15);
	height: 100%;
}

.menu{
	position: absolute;
	left: -250px;
	top: 0;
	bottom: 0;
	background-color: #efefef;
	width: 250px;
	border-right: solid 2px rgba(207, 204, 202, 0.15);
}

.menu-opened{
	overflow-x:hidden;
}

.menu-opened .container-page{
	left: 250px;

}

.menu .option{
	padding-top: 40px;
	padding-left: 20px;
	padding-right: 20px;
}

.menu .option ul li{
	border-top: solid 1px #ffffff;
	border-left: solid 3px #09c;
	list-style: none;
	margin-top: 1px;
}

.menu .option h3 a{
	text-decoration: none;
	color: black;
	font-size: 16px;

}

.menu .option ul li a{
	text-decoration: none;
	color: black;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 10px;
	display: block;
	font-weight: normal;
}
.menu .option ul li:last-child{
	border-bottom: solid 1px #ffffff;
}


/* main structure */


/* header */

.top-menu{ background-color: black; }

.top-menu ul li{
	display: inline-block;
	border-left: solid 1px #ffffff; 
}
 
.top-menu ul li a{
	text-decoration: none;
	color: #ffffff;
	font-size: 12px;
	display: block;
	padding: 0px 17px;
}

.top-menu ul li a:hover{ color: #ff5c1a; }

.wrapper-banner{ 
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: solid 2px rgb(245, 239, 239);
 }

.wrapper-banner .banner{
	max-width: 728px;
	height: 90px;
	margin: 0 auto; 
	background-color: rgb(197, 235, 245);
}

.main-wrapper-header{ 
	overflow: hidden; 
	padding:15px 0 25px;
}

.main-wrapper-header .social-links{
	width: 25%;
	float: left;
}

.main-wrapper-header .social-links ul li{ display: inline-block; }

.main-wrapper-header .social-links ul li a{
	color: #09c;
	text-decoration: none;
	padding:5px; 
}

.wrapper-logo{
	width: 50%;
	float: left;
}

.wrapper-logo .current-day{
	display: block;
	text-align: center;
	color: #999;
	font-size: 11px;
	text-decoration: none;
}
.wrapper-logo .logo{
	width: 300px;
	height: 46px;
	margin: 0 auto;
	margin-top: 10px;
}

.wrapper-logo .logo a{
	display: block;
	width: 300px;
	height: 46px;
}

.wrapper-logo .logo a img{
	display: block;
	width: 100%;
}

.main-menu{
	width: 25%;
	float: left;
}

.main-menu-top{ 
	border-bottom: 1px solid #efefef;
	display: none;
	padding-bottom: 10px;
 }

.main-menu-top ul{
	text-align: center;
	list-style: none;
}

.main-menu-top ul li a{
	text-decoration: none;
	color: #09c;
	font-size: 12px;
	padding: 5px 10px; 
}

.main-menu ul{
	text-align: right;
	list-style: none;
}

.main-menu ul li{
	padding: 5px;
}

.main-menu ul li a{
	text-decoration: none;
	color: #09c;
	font-size: 11px; 
	padding-left: 5px;
	padding-right: 5px;
}

.main-menu ul .strong a{ 
	font-weight: bold;
	font-size: 14px;
	
}

.main-menu ul li a:hover{
	color: #ff5c1a;
}

.main-wrapper-header .main-menu-bottom{
	border-top: 1px solid #efefef;
	display: none;
	padding-top: 10px;
}

.main-wrapper-header .main-menu-bottom ul{
	text-align: center;
	list-style: none;
}

.main-wrapper-header .main-menu-bottom ul li{
	display: inline-block;
}

.main-wrapper-header .main-menu-bottom ul li a{
	text-decoration: none;
	color: #09c;
	font-size: 12px;
	padding: 5px 10px;	
	border-right: solid 1px gray;
}

.sections{
	background-color: #efefef;
}

.sections img{
	position: absolute;
	bottom: 100%;
	right: 32px;
}


.sections ul.menu-mobile{
	display: none;
}

.sections ul li{
	border-left: solid 1px #ffffff;
	display: inline-block; 
	border-bottom: solid 3px #09c;
}

.sections ul li a{
	color: black;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 14px 20px;
}

.sections ul li:hover{ border-bottom: solid 3px #ff5c1a; }

.sections ul li:hover a{ color: #ff5c1a; }

/* header */

/*.wrapper-container*/

.wrapper-container .main{
	width: 66.6%;
	float: left;
}

.wrapper-container .main .column-small{
	width: 35%;
	float: left;
}

.wrapper-container .main .column-small .section-title{
	background-color: rgb(234, 233, 224);
}

.wrapper-container .main .column-small .section-title h2{
	font-size: 14px;
	color: #333;
	background-color: #fbfbfb;
	display: block;
	text-align: center;
}

.wrapper-container .main .column-small{
	padding: 10px 5px; 
}

.wrapper-container .main article h3 a{
	color: #ff5c1a;
	font-size: 11px; 
	text-decoration: none;
}

.wrapper-container .main article h2 a{
	text-decoration: none;
	color: black;
}

.wrapper-container .main article span{
	color: rgb(153, 153, 153);
	padding-top: 10px;
	padding-bottom: 10px; 
}


.wrapper-container .main .column-large{
	width: 65%;
	float: right;
	padding: 10px 5px; 
}

.wrapper-container .main .column-large article{
	border-bottom: solid 1px gray; 
}

.wrapper-container .main .column-large article .author{
	color: #09c;
	text-decoration: none;
}

.wrapper-container .main .column-large .section-title{
	padding-top: 10px;
	padding-bottom: 10px;
}

.wrapper-container .main .section-title h2{
	font-size: 12px;
	font-weight: bold;
	color: #ff5c1a;
	background-color: #fbfbfb;
	text-align: center;
}

.wrapper-container .main .column-large figure{
	width: 365px;
	height: 60px;
}

.wrapper-container .main .column-large figure  img{
	display: block;
	width: 100%;
}

.wrapper-container .main .column-large .section-title h2{
	color: #333;
}

.wrapper-container .main .column-large article{
	padding-bottom: 10px;
}

.wrapper-container .main .column-large article a{
	width: 390px;
	height: 223px;
}

.wrapper-container .main .column-large article a img{
	display: block;
	width: 100%
}

.wrapper-container .main .column-large article h3 a{
	font-weight: normal;
}

.wrapper-container .main .column-large article h2 a{
	font-size: 18px;
	font-family: Georgia, serif;
	color: #333;
	padding-top: 5px;
	padding-bottom: 5px; 
}

.wrapper-container aside{
	width: 33.3%;
	float: right;
	padding: 10px 12px; 
}

.wrapper-container aside .google-img{
	margin-bottom: 20px; 
}

.wrapper-container aside .google-img  a img{
	display: block;
	width: 100%;
}

.wrapper-container aside .block{
	border-top: solid 3px rgb(201, 197, 197);
	border-bottom: solid 3px rgb(201, 197, 197);
	margin-bottom: 20px;
}

.wrapper-container aside .block ul li a{
color: rgb(51, 51, 51);
}

.wrapper-container aside .section-title h2{
	font-size: 14px;
	color: #333;
	background-color: #fbfbfb;
	text-align: center;
}

.wrapper-container aside ul{
	list-style: none;
	border-bottom: solid 1px gray;
}

.wrapper-container aside ul li{
	text-decoration: none;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.wrapper-container aside ul li a{
	color: rgb(0, 153, 204);
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-decoration: none;
}

.wrapper-container aside ul li a .icon-arrow-right{
	color: #ff5c1a;
	font-weight: bold; 
}

/*.wrapper-container*/


/* footer*/

footer .back-to-top{
	background-color: #09c;
	text-align: center;
	color: #ffffff;
	padding: 11px 0;
	font-size: 12px; 
}

footer .back-to-top:hover{ background-color: #ff5c1a; }

footer .submenu-footer{
	background-color: #666;
	text-align: center;
}

footer .submenu-footer ul li{ display: inline-block; }

footer .submenu-footer ul li a{
	color: #ffffff;
	font-family: Arial, sans-serif;
	text-decoration: none;
	display: block;
	padding: 20px 5px; 
}

footer .submenu-footer ul li a:hover{ color: #ff5c1a; }


footer .toolbar{
	overflow: hidden;
	background-color: rgb(239, 239, 239);
	padding: 14px 5px; 
 
}

footer .toolbar .left{
	float: left;
}

footer .toolbar .left .options a{
	color: rgb(0, 153, 204);
	font-size: 20px;
	text-decoration: none;
	padding: 20px 5px; 
} 

footer .toolbar .left .options a:hover{ color: #ff5c1a; }

footer .toolbar .right{
	float: right;
}

footer .toolbar .right .social-links ul{
	list-style: none;
}

footer .toolbar .right .social-links ul li{
	display: inline-block;
	padding:5px; 
}

footer .toolbar .right .social-links ul li a{
	text-decoration: none;
}

footer .toolbar .right .social-links ul li a i{
	color: rgb(0, 153, 204);
}

footer .toolbar .right .social-links ul li a i:hover{ color: #ff5c1a; }

footer .footer-content{
	background: #999;

}

footer .footer-content .col{
	float: left;
}

footer .footer-content .col ul{ 
	list-style: none; 
	padding: 20px 40px; 

}

footer .footer-content .col ul li a{
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
}

footer .footer-content .col ul li a:hover{ color: black; }

footer .corporate-nav{
	background-color: #333;
	padding-top: 5px;
	padding-bottom: 5px;
}

footer .corporate-nav ul{
	text-align: center;
}

footer .corporate-nav ul li{ 
	display: inline-block;
	padding: 10px; 
	
 }

footer .corporate-nav ul li a{
	color: rgb(0, 153, 204);
	text-decoration: none;;
	font-size: 14px;
	font-family: Arial, sans-serif;
}

footer .corporate-nav ul li a:hover{ color: #ff5c1a; }

footer .footer-bottom{ 
	background-color: #333;
	padding-top: 10px;
	padding-bottom: 20px; 
}
footer .footer-bottom .inner-container p{
	float: left;
	color: #ffffff;
}

footer .footer-bottom  .inner-container .footer-logo{
	float: right;
}

footer .footer-bottom .inner-container .footer-logo a{
	display: block;
	width: 150px;
	height: 23px;
}

footer .footer-bottom .inner-container .footer-logo a img{
	width: 100%;
	display: block;
}

/* footer*/