/* Mobile */

@media only screen and (max-width: 750px){
	
	/* header */
	header .top-menu{
		display: none;
	}

	header .wrapper-banner{
		padding: 0;
		border: none;
	}

	header .sections ul.menu-mobile{
		display: block;
	}

	header .sections ul.menu-desktop{
		display: none;
	}

	header .main-wrapper-header .main-menu-top{ 
		display: block;
	}

	header .main-wrapper-header .social-links{
		display: none;
	}

	header .main-wrapper-header .wrapper-logo{
		width: 100%;
		padding: 5px 0px;
		float: none; 
		margin: 10px 0;
	}

	header .main-wrapper-header .main-menu{
		display: none;
	}

	header .main-wrapper-header .main-menu-bottom{
		display: block;
	}/* header */


	/* wrapper-container */

	.wrapper-container .main .column-small{
		width: 100%;
	}

	.wrapper-container .main .column-large{
		width: 100%;
	}

	.wrapper-container .main .column-large figure{
		margin: 0 auto;
		width: 365px;
	}
	
	.wrapper-container .main {
		width: 100%;
	}

	.wrapper-container aside{
		width: 100%;
	}

	.wrapper-container aside .google-img{
		display: none;
	}

	.wrapper-container aside .google-img a img{
		display: none;
	}



	/* wrapper-container */	


	/* footer */
	footer .submenu-footer ul{
		padding: 16px 0; 
	}

	footer .submenu-footer ul li{
		display: block; 
	}

	footer .submenu-footer ul li a{
		padding: 3px 5px;
	}
	
	footer .footer-content .inner-container .col{
		width: 50%;
		text-align: center;
	}

	footer .footer-content .inner-container .col:nth-child(2n+1){
		clear: both;
	}

	footer .footer-bottom .inner-container p{
		float: none;
		text-align: center;
	}

	footer .footer-bottom .inner-container .footer-logo{
		float: none;
		margin-top: 20px;
	}

	footer .footer-bottom .inner-container .footer-logo a{
		margin: 0 auto;
	}


	/* footer */


/* Mobile */